section {
    width: var(--percent-val);
    display: flex;
    justify-content: space-between;
    padding: var(--section-padding-y) 0;
}

[bg-gray="true"]{
    background: var(--light-gray);
}

[bg-blue="true"]{
    background: var(--bg-blue);
}

@media (max-width: 816px) {
    section{
        padding: 0 var(--section-padding-x);
        padding-top: var(--section-padding-y);
        flex-direction: column;
    }
}